    <link rel="stylesheet" href="{{ url_for ('static', filename='./css/main.css') }}">

{% extends 'layout.html'%}


{% block content %}
    <div class="container-fluid bg-1 text-center" style="background-image: url('https://besthqwallpapers.com/Uploads/29-4-2019/89445/willis-tower-chicago-night-skyscrapers-cityscape.jpg'); padding-top:170px ; padding-bottom:170px ;background-size: contain;  max-width: 100%;
">
        <h1 class="margin" style="color: white; font-size: 96px; font-weight: bolder;">CHICAGO</h1>
    </div>


    <div class="container" style="padding-top: 35px; margin-bottom: 35px;">
        
        <div class="row" id="chi-banner" style="margin-top: 35px;">
            <div class="col-8 offset-2">
                <h1>An Overview of Airbnb's in Chicago</h1>
            </div>
        </div>
        <hr>
        <div class="container-fluid" style="margin-top: 35px;">
            <div class="row">
                <div class="col-sm-7">
                    <h2>Where to find the most listings...</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dicta quia recusandae, distinctio aut, in, praesentium velit ipsum sequi ex natus at consequuntur doloribus quos voluptas dignissimos numquam placeat provident..</h4>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dicta quia recusandae, distinctio aut, in, praesentium
                                            velit ipsum sequi ex natus at consequuntur doloribus quos voluptas dignissimos numquam placeat provident..</h4>

                </div>
                <div class="col-sm-5">
                    <img src="static/images/chihood.png" class="img-fluid" alt="Responsive image">

                </div>
            </div>
        </div>
        
        <div class="container-fluid bg-grey" style="margin-top: 15px;">
            <div class="row">
                <div class="col-sm-5">
                    <img src="static/images/chiex.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-sm-7">
                    <h2>Where you'll spend the most</h2>
                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus laudantium asperiores nam itaque harum quas doloremque saepe? Rem consectetur consequuntur accusantium nostrum voluptas odit sunt perspiciatis ratione numquam, non libero.</h4>
                </div>
            </div>
        </div>
        <hr>
        
        
        <div id=”chart” style="margin-top: 35px;">
            <iframe src="http://127.0.0.1:5000/chicago-map/" width=1100 height=400 frameBorder="0"></iframe>
        </div>
        
        <!-- <button type="button" name="" id="" class="btn btn-dark" btn-lg btn-block>Add complete package to cart</button> -->
        


    </div>
    
    




{% endblock content %}